<a href="{{href}}" class="{{class}}">
    {{#if (eq class "linkProfile")}}
        <img src="{{icons.arrowBack}}" alt="вернуться назад" class="profile__avatar">
    {{else}}
        {{linkText}}
    {{/if}}
</a>